<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for path in static_paths %}
  <url>
    <loc>{{ base_url }}{{ path }}</loc>
  </url>
{%- endfor %}
{%- for s in states %}
  <url>
    <loc>{{ base_url }}/state/{{ s.slug }}</loc>
    <lastmod>{{ s.last_updated.strftime('%Y-%m-%d') }}</lastmod>
  </url>
{%- endfor %}
{%- for h in hubs %}
  <url>
    <loc>{{ base_url }}/j/{{ h.slug }}</loc>
    <lastmod>{{ h.last_updated.strftime('%Y-%m-%d') }}</lastmod>
  </url>
{%- endfor %}
{%- for entry in entries %}
  <url>
    <loc>{{ base_url }}/m/{{ entry.slug }}</loc>
    <lastmod>{{ entry.updated_at.strftime('%Y-%m-%d') }}</lastmod>
  </url>
{%- endfor %}
</urlset>
